/*
This is the stylesheet of the git.html for the First Practice of the
HLC module.
*/

/* Common elements style. */

html
{
    scroll-behavior: smooth;
}

/* BODY style. */
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5EF;
}

/* HEADER style. */

h1.title
{
text-align:center;
clear: both;
padding: 50px;
color: #1F2839;
transition: 0.5s;
margin-left: 350px;


}



h1.title:last-child{
    text-align: center;
    padding: 0;
    text-decoration-style: wavy;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    color: transparent;
    margin-top: -73px;
}



/*NAV style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigationMenu {
    width:81%;
    background: #1f2839;
    border-radius: 6px;
    margin: 33px;
    margin-left: 360px;
}

.navigationMenu  > ul{
    list-style-type: none;
}

.menu > li{
    display: inline-block;
    position: relative;
}



.menu > li > a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.menu > li > a:hover{
    color: #b69d74;
    transition: all 1.2s;
}


.submenu{
    position: absolute;
    width: 220px;
    margin-left: 10px;
    background: #303a4c;
    display: none;
    border-radius: 6px;
}

.submenu > li{
    list-style-type: none;
    padding: 10px;

}


.submenu > li > a{
    text-decoration: none;
    color: #FFF;
}


.submenu > li > a:hover{
    color:#b69d74;
    transition: all 1.2s;
}


.menu > li:hover .submenu{
    display: block;
}

.backgrounds:nth-child(even){
    background:#363f4d;
}


/*ASIDE style*/


.sidebar
{
    height: 100%;

    width: 350px;
    position: fixed;
    left: 0;
    padding-top: 50px;
    margin-right: 10px;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
    background: #1F2839;
    color: #F5F5EF;
    margin-top: -220px;
}

.sidebar>a
{
    text-decoration: none;
}

h2.subtitle 
{
    text-align: center;
    padding-bottom: 20px;
}

.sideContent
{
    height: 30px;
    padding: 10px;
}

.sideContent>a
{
    text-decoration: none;
    color: #F5F5EF;
}

.sideContent:hover
{
    background-color: #b69d74;
    color: #1F2839;
    font-size: 17px;
    transition: 0.5s;
}


.sidebar h3{
    margin-bottom: 20px;
    text-align: center;
}




/*SECTION style*/


.container
{
    margin-left: 360px;
    margin-right: 10px;
    background-color: #F5F5EF;
    transition: 0.5s;
}




.section
{
    margin-bottom: 20px;
    background:  #D6D5D5;
    padding: 20px;
    border-radius: 10px;
}




/*footer*/

footer{

    width: 80%;
    margin-left: 360px; /*This margin is bc my aside has more width pixels than the other asides*/
    height: 200px;
    background: #1f2839;
    color: white;
    border-radius: 10px;


}

footer a{
    text-decoration: none;
    color: white;
}

footer h3{
    font-size: 16px;
    margin-top: 10px;

}

footer p{
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;


}

