/*ARTICULO 1*/
#section1{
  display: block;
}

.contenedorS1{
  display: flex;
}

.textoS1{
  align-self: center;
}

.imgS1{
  padding: 1%;
}

.btn1{
  margin-left: auto;
}

/*ARTICULO 2*/
#tablaS2{
  margin: 1%;
  align-items: center;
  align-self: center;;
  text-align: center;
  border: 5px solid #b69d74;
  border-collapse: collapse;
  background-color: #8B8B8B;
}

#tablaS2 tr{
  border-bottom: 1px solid black;
}

#tablaS2 td{
  width: 50%;
  border-left: 1px solid black;
  align-content: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*ARTICULO 3*/
.videoS3{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 20%;
  margin-right: 20%;
}

/*ARTICULO 4*/
.comando{
  background-color: #F0F0F0;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 10px;
}

.comando p{
  margin-left: 5%;
}

.textoS4{
  margin: 2%;
}

.imgS4{
  padding-left: 30%;
  padding-right: 30%;
}

.imgS4 img{
  border: 3px solid black;
}

/*ARTICULO 5*/
.textoS5{
  margin: 2%;
}

.imgS5{
  width: 80%;
  margin-left: 10%;
  border: 3px solid black;
}

/*ARTICULO 6*/
.textoS6{
  margin-top: 2%;
}

.listaS6{
  margin-top: 2%;
}

.listaS6 ul{
  background-color: #8B8B8B;
  list-style-type: square;
  border: 3px solid #b69d74;
}

.listaS6 ul li{
  background-color: #D6D5D5;
}

.listaS6 ul li p{
  margin-left: 1%;
}

.imgS6{
  margin-top: 3%;
  margin-bottom: 3%;
  border: 3px solid black;
}

/*ARTICULO 7*/
.textoS7{
  margin-top: 2%;
}

.imgS7{
  margin-top: 3%;
  margin-bottom: 3%;
  border: 3px solid black;
}
